<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin Panel</title>
    <link href="/css/style.css" th:href="@{/css/style.css}" rel="stylesheet" type="text/css">

</head>
<body>

<div class="top-bar">
    <div class="user-info">
        <span id="username">Username</span> with roles:
        <span id="top_roles">Roles</span>
    </div>
    <a href="/logout" class="logout-link">Logout</a>
</div>

<div class="sidebar">
</div>

<div class="content">
    <h1>Admin Panel</h1>
    <div class="button-container">
        <form action="#" method="get" style="display: flex; width: 100%;">
            <button type="submit" name="view" value="table" class="action-button">Users Table</button>
            <button type="submit" name="view" value="form" class="action-button">New User</button>
        </form>
    </div>
    <h3>All Users</h3>
    <div id="users-table-container">
        <table border="1" cellpadding="5" cellspacing="0" id="usersTable">
            <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>Age</th>
                <th>Roles</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>

    <div id="new-user-form-container" style="display: none;">
        <form id="addUserForm" class="add-user-form">
            <h3>Add New User</h3>
            <div class="form-group">
                <label for="firstName">First Name:</label>
                <input type="text" id="firstName" name="firstName" required>
            </div>
            <div class="form-group">
                <label for="lastName">Last Name:</label>
                <input type="text" id="lastName" name="lastName" required>
            </div>
            <div class="form-group">
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" required>
            </div>
            <div class="form-group">
                <label for="age">Age:</label>
                <input type="number" id="age" name="age" required>
            </div>
            <div class="form-group">
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required>
            </div>
            <div class="form-group">
                <label for="roles_to_add">Roles:</label>
                <select id="roles_to_add" multiple class="roles-dropdown">
                </select>
            </div>
            <div class="form-group">
                <button type="submit" class="add-user-button">Add User</button>
            </div>
        </form>
    </div>
</div>


<div id="editUserModal">
    <div class="modal-content">
        <h3>Edit User</h3>
        <hr>
        <form id="editUserForm" method="POST" action="/api/admin/updateUser">
            <input type="hidden" name="id" id="editUserId"/>

            <div class="form-group">
                <label for="fakeUserId">User  ID:</label>
                <input type="text" id="fakeUserId" name="fakeUserId" disabled>
            </div>
            <div class="form-group">
                <label for="editFirstName">First Name:</label>
                <input type="text" id="editFirstName" name="firstName" required>
            </div>
            <div class="form-group">
                <label for="editLastName">Last Name:</label>
                <input type="text" id="editLastName" name="lastName" required>
            </div>
            <div class="form-group">
                <label for="editAge">Age:</label>
                <input type="number" id="editAge" name="age" required>
            </div>
            <div class="form-group">
                <label for="editEmail">Email:</label>
                <input type="email" id="editEmail" name="email" required>
            </div>
            <div class="form-group">
                <label for="editRoles">Roles:</label>
                <select id="editRoles" name="roleIds" multiple class="roles-dropdown">

                </select>
            </div>
            <div class="form-group">
                <label for="editPassword">Password:</label>
                <input type="password" id="editPassword" name="password" required>
            </div>

            <hr>
            <div class="button-wrapper" style="display: flex; justify-content: flex-end;">
                <button type="button" onclick="closeModal()">Close</button>
                <button type="submit" style="background-color: #40e0d0; color: white;">Edit</button>
            </div>
        </form>
    </div>
</div>

<div id="deleteUserModal">
    <div class="modal-content">
        <button class="close-button" onclick="closeDeleteModal()">✖</button>
        <h3>Confirm Deletion</h3>
        <hr>
        <form id="deleteUserForm">
            <div class="form-group">
                <label for="deleteUserId">User ID:</label>
                <input type="text" id="deleteUserId" name="userId" disabled>
            </div>
            <div class="form-group">
                <label for="deleteUserFirstName">First Name:</label>
                <input type="text" id="deleteUserFirstName" name="firstName" disabled>
            </div>
            <div class="form-group">
                <label for="deleteUserLastName">Last Name:</label>
                <input type="text" id="deleteUserLastName" name="lastName" disabled>
            </div>
            <div class="form-group">
                <label for="deleteUserEmail">Email:</label>
                <input type="email" id="deleteUserEmail" name="email" disabled>
            </div>
            <div class="form-group">
                <label for="deleteUserAge">Age:</label>
                <input type="number" id="deleteUserAge" name="age" disabled>
            </div>
            <div class="form-group">
                <label>Roles:</label>
                <select id="deleteUserRoles" name="roles" multiple disabled></select>
            </div>
        </form>
        <hr>
        <div class="button-container" style="justify-content: flex-end;">
            <button onclick="closeDeleteModal()" class="cancel-button">Cancel</button>
            <button id="confirmDeleteButton" class="delete-button">Delete User</button>
        </div>
    </div>
</div>

<script src="/js/adminBtns.js"></script>
<script src="/js/adminPanel.js"></script>
<script src="/js/addAdmin.js"></script>
<script src="/js/editAdmin.js"></script>
<script src="/js/deleteAdmin.js"></script>
<script src="/js/adminFetch.js"></script>
</body>
</html>
