<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin Panel</title>
    <link href="/css/style.css" th:href="@{/css/style.css}" rel="stylesheet" type="text/css">

</head>
<body>

<div class="top-bar">
    <div class="user-info">
        <span th:text="${currentUser .username}">Username</span> |
        <span th:each="role, iterStat : ${currentUser .authorities}">
            <span th:text="${role.authority}"></span>
            <span th:if="${iterStat.index < currentUser .authorities.size() - 1}">, </span>
        </span>
    </div>
    <button class="logout-link" onclick="window.location.href='/logout'">Logout</button>
</div>

<div class="sidebar">
    <div th:each="page : ${availablePages}">
        <button
                th:data-url="${page.url}"
                th:text="${page.name}"
                th:class="${page.url == currentPageUrl ? 'active-button' : ''}"
                onclick="location.href=this.dataset.url"></button>
    </div>
</div>

<div class="content">
    <h1>Admin Panel</h1>
    <div class="button-container">
        <form action="#" method="get" style="display: flex; width: 100%;">
            <button type="submit" name="view" value="table" class="action-button">Users Table</button>
            <button type="submit" name="view" value="form" class="action-button">New User</button>
        </form>
    </div>

    <div th:if="${view == 'table'}" id="usersTable">
        <h3>All users</h3>
        <table border="1" cellpadding="5" cellspacing="0">
            <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>Age</th>
                <th>Roles</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="user : ${users}">
                <td th:text="${user.id}">ID</td>
                <td th:text="${user.firstName}">Name</td>
                <td th:text="${user.lastName}">Last Name</td>
                <td th:text="${user.email}">Email</td>
                <td th:text="${user.age}">Age</td>
                <td>
                    <span th:if="${user.roles != null && !#lists.isEmpty(user.roles)}">
                        <span th:each="role, iterStat : ${user.roles}">
                            <span th:text="${role.name}">Role</span>
                            <span th:if="${iterStat.index < user.roles.size() - 1}">, </span>
                        </span>
                    </span>
                    <span th:if="${user.roles == null || #lists.isEmpty(user.roles)}">No roles assigned</span>
                </td>
                <td>
                    <button type="button" th:attr="data-user-id=${user.id}" class="edit-button">Edit</button>
                </td>
                <td>
                    <form action="/admin/deleteUser" method="post" style="display:inline;">
                        <input type="hidden" name="userId" th:value="${user.id}"/>
                        <button type="button" class="delete-button">Delete</button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div th:if="${view == 'form'}" class="add-user-form">
        <h3>Add New User</h3>
        <form action="/admin" method="POST">
            <div class="form-group">
                <label for="firstName">First Name:</label>
                <input type="text" id="firstName" name="firstName" required placeholder="Enter first name">
            </div>
            <div class="form-group">
                <label for="lastName">Last Name:</label>
                <input type="text" id="lastName" name="lastName" required placeholder="Enter last name">
            </div>
            <div class="form-group">
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" required placeholder="Enter email">
            </div>
            <div class="form-group">
                <label for="age">Age:</label>
                <input type="number" id="age" name="age" required min="0" placeholder="Enter age">
            </div>
            <div class="form-group">
                <label for="roles">Roles:</label>
                <select id="roles" name="roleIds" multiple class="roles-dropdown">
                    <option th:each="role : ${roles}" th:value="${role.id}" th:text="${role.name}">Role</option>
                </select>
            </div>
            <div class="form-group">
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required placeholder="Enter password">
            </div>
            <div class="form-group">
                <button type="submit" name="action" value="add" class="add-user-button">Add User</button>
            </div>
        </form>
    </div>
</div>

<div id="editUserModal">
    <div class="modal-content">
        <h3>Edit User</h3>
        <hr>
        <form id="editUserForm" method="POST" action="/admin/updateUser">
            <input type="hidden" name="id" id="editUserId"/>

            <div class="form-group">
                <label for="fakeUserId">User  ID:</label>
                <input type="text" id="fakeUserId" name="fakeUserId" disabled>
            </div>
            <div class="form-group">
                <label for="editFirstName">First Name:</label>
                <input type="text" id="editFirstName" name="firstName" required>
            </div>
            <div class="form-group">
                <label for="editLastName">Last Name:</label>
                <input type="text" id="editLastName" name="lastName" required>
            </div>
            <div class="form-group">
                <label for="editAge">Age:</label>
                <input type="number" id="editAge" name="age" required>
            </div>
            <div class="form-group">
                <label for="editEmail">Email:</label>
                <input type="email" id="editEmail" name="email" required>
            </div>
            <div class="form-group">
                <label for="editRoles">Roles:</label>
                <select id="editRoles" name="roleIds" multiple class="roles-dropdown">

                </select>
            </div>
            <div class="form-group">
                <label for="editPassword">Password:</label>
                <input type="password" id="editPassword" name="password" required>
            </div>

            <hr>
            <div class="button-wrapper" style="display: flex; justify-content: flex-end;">
                <button type="button" onclick="closeModal()">Close</button>
                <button type="submit" style="background-color: #40e0d0; color: white;">Edit</button>
            </div>
        </form>
    </div>
</div>

<div id="deleteUserModal">
    <div class="modal-content">
        <button class="close-button" onclick="closeDeleteModal()">✖</button>
        <h3>Confirm Deletion</h3>
        <hr>
        <form id="deleteUserForm">
            <div class="form-group">
                <label for="deleteUserId">User  ID:</label>
                <input type="text" id="deleteUserId" name="userId" disabled>
            </div>
            <div class="form-group">
                <label for="deleteUserFirstName">First Name:</label>
                <input type="text" id="deleteUserFirstName" name="firstName" disabled>
            </div>
            <div class="form-group">
                <label for="deleteUserLastName">Last Name:</label>
                <input type="text" id="deleteUserLastName" name="lastName" disabled>
            </div>
            <div class="form-group">
                <label for="deleteUserEmail">Email:</label>
                <input type="email" id="deleteUserEmail" name="email" disabled>
            </div>
            <div class="form-group">
                <label for="deleteUserAge">Age:</label>
                <input type="number" id="deleteUserAge" name="age" disabled>
            </div>
            <div class="form-group">
                <label>Roles:</label>
                <select id="deleteUserRoles" name="roles" multiple disabled></select>
            </div>
        </form>
        <hr>
        <div class="button-container" style="justify-content: flex-end;">
            <button onclick="closeDeleteModal()" class="cancel-button">Cancel</button>
            <button id="confirmDeleteButton" class="delete-button">Delete User</button>
        </div>
    </div>
</div>

<script src="/js/adminPanel.js"></script>
</body>
</html>
