<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h3>Users</h3>
<table border="1" cellpadding="5" cellspacing="0" style="width: 30%; margin-bottom: 20px;">
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Last_name</th>
        <th>Email</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user : ${users}">
        <td th:text="${user.id}">ID</td>
        <td th:text="${user.firstName}">Name</td>
        <td th:text="${user.lastName}">lastName</td>
        <td th:text="${user.email}">Email</td>
        <td>
            <form action="/deleteUser" method="post" style="display:inline;">
                <input type="hidden" name="userId" th:value="${user.id}"/>
                <button type="submit">Delete</button>
            </form>
            </form>
            <form action="/editUser " method="get" style="display:inline;">
                <input type="hidden" name="userId" th:value="${user.id}"/>
                <button type="submit">Edit</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>
<h3>Add User</h3>
<form action="/users" method="POST">
    <input type="hidden" name="userId" th:value="${userId}"/>
    <table>
        <tr>
            <td><label for="firstName">First Name:</label></td>
            <td><input type="text" id="firstName" name="firstName" th:value="${firstName}" required></td>
        </tr>
        <tr>
            <td><label for="lastName">Last Name:</label></td>
            <td><input type="text" id="lastName" name="lastName" th:value="${lastName}" required></td>
        </tr>
        <tr>
            <td><label for="email">Email:</label></td>
            <td><input type="email" id="email" name="email" th:value="${email}" required></td>
        </tr>
        <tr>
            <td colspan="2">
                <button type="submit" name="action" value="add">Add User</button>
<!--                <button type="submit" name="action" value="update">Update User</button>-->
            </td>
        </tr>
    </table>
</form>
</body>
</html>